.venv
__pycache__/
app/__pycache__/
app/agents/__pycache__
app/core/__pycache__
app/storage/__pycache__
app/utils/__pycache__
app/tools/__pycache__
app/configs/__pycache__
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
*.sublime-*
.DS_Store
Thumbs.db
*.log
*.log.*
logs/
.cache/
Dockerfile
docker-compose.yml
README.md
chatbot-architecture.png
data/
plans/
*.sqlite3
