langchain
langgraph
langchain_google_genai
streamlit
chromadb
sentence-transformers
huggingface_hub
requests
beautifulsoup4
python-dotenv
lxml
wikipedia
langchain_community
tavily-python
python-dateutil
pandas
dateparser
pydantic-settings
langchain-community
fpdf
chromadb
python-docx 

tiktoken
pypdf
